:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: #faed26;
  }
}

.costum-list-item{
  font-weight: 600; // Félkövér
  color: white; // Fehér szín
}

.logo {
  text-align: center;
  img {
    width: 100px;
    pointer-events: none;
  }
}

.mat-divider {
  border-top-width: 1px;
  border-color: white;
}

a{
  &.active {
    background-color: #836861;
  }
  &:hover{
    background-color: #836861;
  }
}