<div class="container" *ngIf="sublet$ | async as sublet">
  <mat-card class="card">
    <div class="image-section" *ngIf="sublet.images && sublet.images.length; else noImage">
      <button mat-icon-button class="prev-button" (click)="prevImage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <img [src]="sublet.images[currentImageIndex]" class="sublet-image" alt="Sublet image">
      <button mat-icon-button class="next-button" (click)="nextImage()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <ng-template #noImage>
      <img mat-card-image src="default-image-path" class="sublet-image" alt="Sublet image">
    </ng-template>

    <mat-card-header>
      <mat-card-title>{{ sublet.title }}</mat-card-title>
      <mat-card-subtitle>{{ sublet.address }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ sublet.description }}
      </p>
      <p>
        Type: {{ sublet.parameters.type }} <br>
        Size: {{ sublet.parameters.size }} <br>
        Heating Type: {{ sublet.parameters.heatingType }}
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button *ngIf="user && (user.role == 'Admin' || sublet.userId == user.uid)" (click)="editSublet(sublet.id!)">Szerkesztés</button></mat-card-actions>
  </mat-card>
</div>