<div class="box">
    <div class="bg-white col-md-6 p-4 m-3">
        <h1 class="align-middle">Bejelentkezés</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput type="text" formControlName="email" required="required" />
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                    Email megadása kötelező
                </mat-error>
            </mat-form-field>

            <mat-form-field class="row">
                <mat-label for="password">Password: </mat-label>
                <input matInput type="password" formControlName="password" required="required" />
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                    Jelszó megadása kötelező
                </mat-error>
            </mat-form-field>
            <span>
                <span><button mat-raised-button class="costum-button" type="submit">Login</button></span>
                <span><a mat-raised-button class="costum-button" [routerLink]="'/registration'">Regisztráció</a></span>
            </span>

        </form>
    </div>
</div>