<ng-container *ngIf="(authService.user$ | async) as user; else notLoggedIn">
  <mat-drawer-container *ngIf="!isNotFoundPage; else notFoundPage">
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>

<ng-template #notLoggedIn>
  <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
</ng-template>

<ng-template #notFoundPage>
  <router-outlet></router-outlet>
</ng-template>