.wrapper {
  display: flex;
  flex-wrap: nowrap; /* hogy ne legyen sortörés */
}

.side-menu {
  flex: 0 0 60px; /* állandó szélesség 200px, ne nyújtható */
}

.content {
  flex: 1; /* kitölti a rendelkezésre álló helyet */
}