.image-upload {
    cursor: pointer;
    border: 1px dashed #ccc;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  mat-progress-bar {
    margin-top: 0.5rem;
  }

  .toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .card {
      width: 1200px;
  
      mat-card-header {
        mat-card-title {
          font-size: 24px;
        }
      }
  
      mat-card-content {
        mat-form-field {
          margin-bottom: 16px;
          width: 100%;
  
          input,
          textarea {
            width: 100%;
          }
        }
  
        .image-upload {
          display: flex;
          align-items: center;
          margin-top: 16px;
          cursor: pointer;
  
          input[type="file"] {
            display: none;
          }
  
          span {
            font-size: 14px;
            color: #333333;
            margin-right: 8px;
          }
        }
  
        mat-progress-bar {
          margin-top: 16px;
        }
      }
  
      mat-card-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
  
        button {
          margin-left: 8px;
        }
      }
    }
  }