.page {
    color: white;
    padding: 0 1rem;
    &__header {
      display: flex;
      align-items: center;
      min-height: 20px;
      font-size: 30px;
      margin-bottom: 1rem;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }